.billing {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: flex-end;
  &-info {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    &__label {
      font-size: 1.4rem;
      text-transform: capitalize;
      color: $grayish-blue;
    }
    &__discount {
      border-radius: 1rem;
      padding: 0.5rem 1rem;
      font-size: 1.2rem;
      background-color: $light-grayish-red;
      font-weight: 800;
      color: $light-red;
    }
  }
}

@media (max-width: 768px) {
  .billing-info__discount-text {
    display: none;
  }
}
