.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3.5rem;

  &__views-count {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $grayish-blue;
  }

  &-price-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    &__price {
      font-size: 5rem;
      color: $dark-blue;
      font-weight: 800;
    }
    &__month {
      font-size: 2rem;
      color: $grayish-blue;
    }
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 2.5rem;
  }
}
